
    {% extends 'base.html' %}
    {% block content %}
    <!-- Page Header -->
    <header>
      <canvas id="canv"></canvas>
        <!-- <div class="landingTitle"> -->
        <h1 class="landingHtwo">A blogpost for junior developpers</h1>
        <h2 class="landingHthree">Read the posts and you will see through the coding matrix</h2>
        <!-- </div> -->
      
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>This Blopost is community website, where people can share their snippets, short-codes and tricks. We are language-agnostique, not targeting any specific language, but rather open to every coding language.</p>
          <p>The goal here is to provide help and support for beginner developper, but we hope that, even if you are a tech guru, you might find a thing or two to learn</p>
          <p>Our community is all about helping each other, knowledge building and mutual respect.</p>
          <p>Just login with your google account and share any valuable knowledge of coding with our community.</p>
          <p>Just keep in mind that if admins found your post inappropriate, they will delete it without notice.</p>
        </div>
      </div>
    </div>

    <hr>
    <script src="{{url_for('static',filename='takeTheGreenPill.js')}}"></script>
    {% endblock %}
    
